[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "*"
pika = "*"
bpython = "*"
pytest = "*"
"flake8" = "*"
ipdb = "*"
Pillow = "*"
pillow = "==5.0"
mypy = "*"
monkeytype = "*"
pyannotate = "*"
pytest-asyncio = "*"
aiohttp = "*"
aiofiles = "*"

[requires]
python_version = "3.5"
