[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "==6.2.1"
pika = "*"
bpython = "*"
pytest = "*"

[requires]
python_version = "3.5"
